body {
    padding: 0;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header {
    width: 100vw;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0;

    display: flex;
    align-items: center;
    flex-direction: row;

    box-shadow: 0px 2px 3px #b6b6b6;
}

.header-button {
    margin-left: 10px;
}

.header-logo {
    width: 0;
    margin-left: 10px;

    color: #ff0000;
    font-size: small;
    font-weight: 600;
}

.input-field {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 10px;
}

.question-numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.question-number {
    height: 80px;
    width: 80px;

    margin: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid black;

    font-size: 20px;
    font-weight: 600;
}

.grade-sub-container {
    width: 70vw;
}

.question-number0,
.question-number1 {
    height: 80px;
    width: 80px;

    margin: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 20px;
    font-weight: 600;
}

.question-grade-container {
    width: 90vw;
    margin: 10px;

    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bar {
    margin: 10px;
}

.question-grade-bar>button {
    margin-left: 0;
    margin: 5px;

    color: green;
    border: 1px solid green;
}

.question-complement-grade-bar>button {
    margin-left: 0;
    margin: 5px;

    color: red;
    border: 1px solid red;
}

.slider {
    width: 70vw;
}

.input-field {
    box-shadow: 0px 2px 3px #b6b6b6;
    width: 100vw;
}

.questions-grid {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.questions-class-grid,
.questions-complement-class-grid {
    display: none;
}

.questions-class-grid-open,
.questions-complement-class-grid-open {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.question-class-button {
    height: 30px;
    width: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 5px;

    border-radius: 2px;
}

.question-button {
    height: 30px;
    width: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 5px;

    border-radius: 2px;
}

.question-button-0 {
    color: green;
    border: 1px solid green;
    background-color: #c9ffad;
}

.question-button-10 {
    color: orange;
    border: 1px solid orange;
    background-color: #ffffad;
}

.question-button-20 {
    color: red;
    border: 1px solid red;
    background-color: #ffc992;
}

.question-button-30 {
    color: darkred;
    border: 1px solid darkred;
    background-color: #ff7272;
}

.class-A-button {
    color: purple;
    border: 1px solid purple;
    background: url('A.png');
    background-size: cover;
    background-color: #aba2ff;
}

.class-B-button {
    color: purple;
    border: 1px solid purple;
    background: url('B.png');
    background-size: cover;
    background-color: #d49fff;
}

.class-C-button {
    color: purple;
    border: 1px solid purple;
    background: url('C.png');
    background-size: cover;
    background-color: #ffa9e8;
}

.class-D-button {
    color: purple;
    border: 1px solid purple;
    background: url('D.png');
    background-size: cover;
    background-color: #ffa9a9;
}


.question-button-selected {
    color: blue;
    border: 1px solid blue;
    background-color: #83cbff;
}

.selected {
    background-color: #83cbff;
    color: blue;
}

.menu-background {
    background: hsla(0, 0%, 0%, 0.541);
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
}

.menu {
    width: 200px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
}

.menu-header {
    margin: 10px;
}

.menu-item {
    font-family: sans-serif;
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu-item>span {
    margin: 10px;
}

.menu-background-close {
    display: none;
}

.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
